.itemName{
    width: 95%;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#todo-list td.editing .edit {
	display: block;
	width: 200px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#todo-list td.editing .view {
	display: none;
}

#todo-list td:hover .destroy {
	display: block;
}


#todo-list td .edit {
	display: none;
}

#todo-count , #filters li a  {
    font-size: 12px;
    padding: 5px;
}

#filters li a.selected  {
    color: #000;
    font-weight: bold;
}

#filters li a:hover  {
    text-decoration: none;
}



