<section id="todoapp" ng-controller="TodoCtrl">
    <h3>Einkaufsliste</h3>
    <header id="header">
        <form id="todo-form" ng-submit="addTodo()" role="form">
            <div class="input-group">
                <input id="new-todo" placeholder="Welches Produkt wird benötigt?" ng-model="newTodo" autofocus class="form-control">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Hinzufügen</button>
                </span>
            </div>
        </form>
    </header>
    <section id="main" ng-show="todos.length" ng-cloak>

        <div class="checkbox">
            <label for="toggle-all">
                <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">Alle Einträge auswählen
            </label>
        </div>


        <table class="table table-striped" id="todo-list">
            <tr ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                <td class="itemName">

                    <div class="checkbox">


                        <label ng-dblclick="editTodo(todo)">
                            <input class="toggle" type="checkbox" ng-model="todo.completed">{{todo.title}}</label>
                    </div>

                </td>
                <td>
                    <button type="button" class="btn btn-default destroy" ng-click="removeTodo(todo)"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
                <td>
                    <form ng-submit="doneEditing(todo)" role="form">
                        <input class="form-control edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
                    </form>
                </td>
            </tr>
        </table>
    </section>
    <footer id="footer" ng-show="todos.length" ng-cloak>
        <ul id="filters" class="nav nav-pills nav-justified">
            <li><span id="todo-count" class="label label-default"><a>
                    {{remainingCount}}
					<ng-pluralize count="remainingCount" when="{ one: 'offener Artikel', other: 'offene Artikel' }"></ng-pluralize>

                        </a></span>

                <span class="badge  pull-right"><a ng-class="{selected: location.path() == '/'} " href="#/"><span class="glyphicon glyphicon-list-alt"></span> Alle</a>
                </span>
                <span class="badge  pull-right"><a ng-class="{selected: location.path() == '/active'}" href="#/active"><span class="glyphicon glyphicon-unchecked"></span> noch offen</a>
                </span>

                <span class="badge  pull-right"><a ng-class="{selected: location.path() == '/completed'}" href="#/completed"><span class="glyphicon glyphicon-check"></span> Abgehakt</a>
                </span>
            </li>
        </ul>
        <span class="help-block"></span>
        <button class="btn btn-default btn-block" id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount"><span class="glyphicon glyphicon-remove-circle"></span> Erledigte Einträge löschen ({{completedCount}})</button>
    </footer>
</section>

<script src="js/buy/base.js"></script>
<script src="js/buy/app.js"></script>
<script src="js/buy/controllers/todoCtrl.js"></script>
<script src="js/buy/services/todoStorage.js"></script>
<script src="js/buy/directives/todoFocus.js"></script>
<script src="js/buy/directives/todoBlur.js"></script>
<script src="js/buy/directives/todoEscape.js"></script>
