#easyimgallery{
	text-align: center;
}

#easyimgallery ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#easyimgallery li{
	display: inline;
	margin-right: 10px;
}

#easyimgallery li img{
	padding: 3px;
	background: #fff;
	border: 1px solid #ccc;
}