@charset "UTF-8";
/* CSS Document */
html {
	width: 99%;
	margin: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
}
* {
	margin: 0;
	padding: 0;
}

body{
	color:#CCC;
}


 /* ------------------------------------------------------------ SCROLLBAR
*/
/* Reference: http://css-tricks.com/custom-scrollbars-in-webkit/
*/
::-webkit-scrollbar {
 width:30px;
 background-color:rgba(0,0,0,1); /* Safari. Lion's OS dark bg impacts Safari browser */
}
::-webkit-scrollbar-button {
 width:0;
 height:0;
}

::-webkit-scrollbar-button:vertical:decrement {
/* background-image: url(scrollbar/arrow-up.png), -webkit-linear-gradient(left,  #f9f9f9 50%,#e2e2e2 100%) ; */
}

::-webkit-scrollbar-button:vertical:increment {
}

::-webkit-scrollbar-corner {
/*background:transparent;*/

}


/* On Bright
*/

::-webkit-scrollbar-thumb {
 background-color:rgba(255,255,255,.1);
 border-radius: 8px;
 height:100px;
/*Boc shaddos, seperated with commas, to combine shadows*/

}
.thumbnail {
	border: none;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element {
  .center-block();
}

/*Temp-Colors*/
.temp_min{
	color:#09F;
}

.temp_max{
	color:#F30;
}

.form-control{
	background-color:#F0F0F0;
}

.help-block-start{
	height:12px;
}