@charset "UTF-8";
/* CSS Document */
html
{
	width:99%;
	margin:0;
	overflow-x: hidden;
	overflow-y: scroll;


}

*
{ margin: 0;
  padding: 0;
 }


 /* ------------------------------------------------------------ SCROLLBAR
*/
/* Reference: http://css-tricks.com/custom-scrollbars-in-webkit/
*/
::-webkit-scrollbar {
	width:30px;
	background-color:rgba(0,0,0,1); /* Safari. Lion's OS dark bg impacts Safari browser */
}
::-webkit-scrollbar-button {
	width:0;
	height:0;
}

::-webkit-scrollbar-button:vertical:decrement {
	/* background-image: url(scrollbar/arrow-up.png), -webkit-linear-gradient(left,  #f9f9f9 50%,#e2e2e2 100%) ; */
}

::-webkit-scrollbar-button:vertical:increment {

}

::-webkit-scrollbar-corner {
	/*background:transparent;*/

}


/* On Bright
*/

::-webkit-scrollbar-thumb {
	background-color:rgba(255,255,255,.1);
		border-radius: 8px;
		height:100px;
		/*Boc shaddos, seperated with commas, to combine shadows*/

}

.thumbnail{
	border:none;
}



/* Slideshow */


#slidecontainer .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#slidecontainer .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#slidecontainer ul{
	width:604px;
	height:453px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#slidecontainer li:first-child{
	display:list-item;
	position:absolute;
}

#slidecontainer li{
	position:absolute;
	display:none;
}
/* End Slideshow */
































