@charset "UTF-8";
/* CSS Document */
html
{ 
	min-height:768px;
	width:1024px;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 100% arial, sans-serif;
  background: #1D1D1D;
  color: #FFF;
  width:100%;
  min-height:768px;}

p
{ padding: 0 0 20px 0;
  line-height: 1.6em;}
  
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ 
  color: #1D1D1D;
  margin: 0 0 15px 0;
  padding: 5px 0 0px 0;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #FFF;}

a:hover
{ 
  color: #1D1D1D;}

ul
{ margin: 0px;}

ul li
{ margin: 0px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main
{ width: 65%;
float: left;
  }

.sidebar
{ float: right;
  width: 33%;
  padding:0px 10px 0px 10px;
  height:768px;
  }
  
  .menubar
{ 
  text-align: center; 
  height: 60px;
  } 


.sidebar h1 , .sidebar h2, .sidebar h4, .sidebar p, .sidebar a
{ color: #FFF;}  

.sidebar h1{
	font-size:18px;
	padding-top:10px;
}
.sidebar h2{
	font-size:16px;
}

.sidebar a:hover
{ text-decoration: none;}

sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  padding: 0;}
 

ul.links
{ margin: 0;}

ul.links li
{ list-style: none;
  padding: 5px 0;}

ul.links li a, ul.links li a:hover
{ padding: 0 0 0 28px;
  background: transparent url(../images/page.png) no-repeat left center;
  color: #06C4E6;
  text-decoration: underline;} 

ul.links li a:hover
{ color: #5D5D5D;
  text-decoration: none;} 
  
.menItem {
  position: relative;
  height: 30px;
  padding: 15px 0px 15px 0px;
  overflow: hidden;
  float: left;
  margin: 0 0px 0 0px;
}

.menItem li {
  list-style: none;
  color: white;
	font: normal 120% arial, sans-serif;
		float:left;
		text-align:center;
}


.menItem li a {
  text-decoration: none;
  text-align: center;
  z-index: 10;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 5px 12px 5px 12px;
}

.menItem li a:hover, .menItem li a:active, .menItem li a:focus {
  border: none;
  color:#FFF;
  background-color:#01A9DB;
}

.city_0{
	width:100px;
	position:absolute;
	top:190px;
	left:55px;
	z-index:2;
	text-align:center;
	}

.city_1{
	width:100px;
	position:absolute;
	top:181px;
	left:213px;
	z-index:2;
	text-align:center;
	}

.city_2{
	width:100px;
	position:absolute;
	top:250px;
	left:113px;
	z-index:2;
	text-align:center;
	}

.city_3{
	width:100px;
	position:absolute;
	top:75px;
	left:80px;
	z-index:2;
	text-align:center;
	}

.city_4{
	width:100px;
	position:absolute;
	top:90px;
	left:177px;
	z-index:2;
	text-align:center;;
	}

.city_5{
		width:100px;
	position:absolute;
	top:55px;
	left:275px;
	z-index:2;
	text-align:center;
	}
	
.cityname{
margin:0;
padding:0;
margin-top:-10px;
text-align:center;
color:#FFF;
	}	
	
.temperature{
text-align:center;
margin:0;
padding:0;	
color:#FFF;
	}
	
.temp_min{
	color:#06C;
	font-size:18px;
	}
	
.temp_max{
	color:#C00;
	font-size:22px;
}

.weather_table{
text-align:center;
font-size:12px;	

	}
	
.weather_table tr{
	height:25px;
	}	
	
.weather_table tr td{
	
	}		
#headline{
	font: normal 120% arial, sans-serif;
	padding: 5px 5px 5px 5px;
	}
	
.sidebar_item{
float:right;
padding: 0px 0px 30px 0px;
}

.clearer{clear:both;}





table.plan{
	margin: auto;
	border-spacing: 2px;
	padding: 0;
	width:330px;
		vertical-align:top;
}

table.plan tr.planrow:nth-child(even){
	background: #3a3a3a;
}

table.plan tr.planrow:nth-child(odd){
	background: #565656;
}

td.icon{
	color: white;
	text-align: center;
	vertical-align: middle;
	width: 62px;
	height: 62px;
	font-size: 32px;
	font-weight: bold;
	
}

td.info div.time{
	font-size: 20px;
	font-weight: bold;
	padding-left:20px;
}

td.info div.label{
	font-size: 13px;
	padding:0px 10px 0px 10px;
}

td.info div.time span.timeDiff{
	color: #cb0e0e;
	font-size: 14px;
}

div#loading{
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-size: 14px;
	color: #b4b4b4;
}

table.plan tr.headline td{
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	height: 58px;
	background-color: #707070;
	padding:0px 5px 0px 5px;
}


div.news_wrapper li{
	width: 100%;
}

ul#news_content{

}

ul#news_content li{
	color: white;
	list-style: none;
	text-align: center;
	font-size: 14px;
}

ul#news_content li h2{
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}
.content{
	vertical-align:top;
	}

#mainContentContainer{
	
}





table.shoppinglist td, table.shoppinglist td a, table.shoppinglist td a:hover{
	display:block;
	float:left;
	color:#FFF;
	text-decoration:none;
}

table.shoppinglist th {
	display:block;
	float:left;
}
td.item , th.item {
	width: 495px;
	text-align:left;
}
td.quantity , th.quantity{
	width: 160px;
	margin:0px;
	text-align:left;
}

#itemlist{

	}



























